
    <h1>Lista de productos en el servidor <br> "http://localhost:8080/"</h1>

<div class="table">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Code</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Image</th>
        <th>ID</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
      <tr>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>
        <td>{{this.code}}</td>
        <td>${{this.price}}</td>
        <td>{{this.stock}}</td>
        <td><img src="{{this.img}}" alt="{{this.title}}"></td>
        <td>{{this.id}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>


